In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [35]:
# Predictive Modeling with Machine Learning for boston housing prize

In [11]:
# Load data
data = pd.read_csv('C:\\users\\97150\\OneDrive\\Desktop\\personal\\UDEMY\\boston housing prize.csv')

In [12]:
data.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,price
0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,13300000
1,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,12250000
2,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,12250000
3,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,12215000
4,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,11410000

In [14]:
data['furnishingstatus'].unique()

array(['furnished', 'semi-furnished', 'unfurnished'], dtype=object)

In [15]:
data=pd.get_dummies(data)

In [16]:
data.head()

,area,bedrooms,bathrooms,stories,parking,price,mainroad_no,mainroad_yes,guestroom_no,guestroom_yes,...,basement_yes,hotwaterheating_no,hotwaterheating_yes,airconditioning_no,airconditioning_yes,prefarea_no,prefarea_yes,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,7420,4,2,3,2,13300000,0,1,1,0,...,0,1,0,0,1,0,1,1,0,0
1,8960,4,4,4,3,12250000,0,1,1,0,...,0,1,0,0,1,1,0,1,0,0
2,9960,3,2,2,2,12250000,0,1,1,0,...,1,1,0,1,0,0,1,0,1,0
3,7500,4,2,2,3,12215000,0,1,1,0,...,1,1,0,0,1,0,1,1,0,0
4,7420,4,1,2,2,11410000,0,1,0,1,...,1,1,0,0,1,1,0,1,0,0

In [18]:
data.corr()['price'].sort_values()

airconditioning_no                -0.452954
prefarea_no                       -0.329777
mainroad_no                       -0.296898
furnishingstatus_unfurnished      -0.280587
guestroom_no                      -0.255517
basement_no                       -0.187057
hotwaterheating_no                -0.093073
furnishingstatus_semi-furnished    0.063656
hotwaterheating_yes                0.093073
basement_yes                       0.187057
furnishingstatus_furnished         0.229350
guestroom_yes                      0.255517
mainroad_yes                       0.296898
prefarea_yes                       0.329777
bedrooms                           0.366494
parking                            0.384394
stories                            0.420712
airconditioning_yes                0.452954
bathrooms                          0.517545
area                               0.535997
price                              1.000000
Name: price, dtype: float64

In [20]:
data.isnull().sum()

area                               0
bedrooms                           0
bathrooms                          0
stories                            0
parking                            0
price                              0
mainroad_no                        0
mainroad_yes                       0
guestroom_no                       0
guestroom_yes                      0
basement_no                        0
basement_yes                       0
hotwaterheating_no                 0
hotwaterheating_yes                0
airconditioning_no                 0
airconditioning_yes                0
prefarea_no                        0
prefarea_yes                       0
furnishingstatus_furnished         0
furnishingstatus_semi-furnished    0
furnishingstatus_unfurnished       0
dtype: int64

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   area                             545 non-null    int64
 1   bedrooms                         545 non-null    int64
 2   bathrooms                        545 non-null    int64
 3   stories                          545 non-null    int64
 4   parking                          545 non-null    int64
 5   price                            545 non-null    int64
 6   mainroad_no                      545 non-null    uint8
 7   mainroad_yes                     545 non-null    uint8
 8   guestroom_no                     545 non-null    uint8
 9   guestroom_yes                    545 non-null    uint8
 10  basement_no                      545 non-null    uint8
 11  basement_yes                     545 non-null    uint8
 12  hotwaterheating_no               545 non-null    uint8
 13  hotwaterheating_yes              545 non-null    uint8
 14  airconditioning_no               545 non-null    uint8
 15  airconditioning_yes              545 non-null    uint8
 16  prefarea_no                      545 non-null    uint8
 17  prefarea_yes                     545 non-null    uint8
 18  furnishingstatus_furnished       545 non-null    uint8
 19  furnishingstatus_semi-furnished  545 non-null    uint8
 20  furnishingstatus_unfurnished     545 non-null    uint8
dtypes: int64(6), uint8(15)
memory usage: 33.7 KB

In [22]:
X=data.drop('price',axis=1)

In [23]:
y=data['price']

In [26]:
# Split data into train and test sets
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [28]:
from sklearn.linear_model import LinearRegression

In [29]:
# Build and train a model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [30]:
# Make predictions
y_pred = model.predict(X_test)

In [31]:
from sklearn.metrics import mean_squared_error

In [32]:
# Evaluate model performance
mse = mean_squared_error(y_test, y_pred)
rmse=np.sqrt(mse)

In [33]:
mse

1264406165048.4885

In [34]:
rmse

1124458.1650948552